@media(max-width:425px){
.nav-container{
    display: flex;
    flex-direction: column;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memu-item{
    display: flex;
    flex-direction: column;
    padding: 36px;
}
.banner-container{
    flex-direction: column;
    align-items: center;
    
}
.banner-typo{
    font-size: 3.5rem;
}
.banner-title{
    font-size: 2rem;
}
.banner-text-container{
    font-size: 10px;
}
.buttons{
   
}

.banner-text, .paragraphs, .banner-imgs{
    width: 100%;


}